outline {
  border: dotted red 1px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 1rem;
  padding: 2rem;
  height: 500px;
}

.card {
  width: 400px;
  height: 300px;
  border: 3px solid;
  padding: 25px;
  display: inline-block;
  margin-left: 100px;
  margin-top: 30px;
  background: linear-gradient(to top, #eee 75%, #eee 12.5%, #008b8b 12.5%);
  flex: 2;
}

h3 {
  width: 400px;
  height: 200px;
  border: 3px solid;
  padding: 25px;
  display: flex;
  display: inline-block;
  /* margin: 100px; */
  /* margin-right: 200px; */
  flex: 2;
  margin-top: 30px;
  margin-left: 100px;
  background: linear-gradient(to top, #eee 75%, #eee 12.5%, #008b8b 12.5%);
}

.connection-request {
  width: 300px;
  height: 200px;
  border: 3px solid;
  padding: 20px;
  /* display: flex; */
  /* display: inline-block; */
  /* margin-left: 550px; */
  /* margin-bottom: 9000px; */
  /* margin: 50px 0px; */
  margin: auto;
  display: flex;

  margin-left: 550px;
  margin-top: 1000px;
  /* flex: 1; */
  background: linear-gradient(to top, #eee 75%, #eee 12.5%, #008b8b 12.5%);
}
.your-connection {
  width: 300px;
  height: 350px;
  border: 3px solid;
  padding: 25px;
  /* display: inline-block; */
  margin: auto;
  margin-left: 550px;
  position: absolute;

  /* flex: 1; */
  background: linear-gradient(to top, #eee 75%, #eee 12.5%, #008b8b 12.5%);
}
h1 {
  font-family: monospace;
  font-size: 30px;
  padding: 20px;
}

.marker {
  width: 10px;
  height: auto;
  vertical-align: middle;
  margin-up: 20px;
}
.circle {
  border-style: none;
  width: 70px;
  height: auto;
}
h2 {
  font-size: 20px;
  font-family: monospace;
}

.location {
  font-size: 10px;
  font-family: monospace;
  margin-top: 1rem;
}
.location img {
  width: 100px;
  height: 100px;
}
.description {
  list-style: none;
  display: inline-block;
  color: black;
}
.edit {
  display: inline-block;
  margin-top: 15px;
}

ul {
  list-style-type: none;
  flex-wrap: wrap;
  margin-top: 1rem;
  display: flex;
  width: 50%;
}
#gear {
  color: blue;
  font-size: 15px;
}
#icon {
  width: 12px;
  height: auto;
}
.nav {
  width: 900px;
  height: 60px;
  background-color: rgb(51, 50, 50);
  display: flex;
}
.nav-title {
  margin-left: 20px;
  color: white;
  font-size: 25px;
  font-family: monospace;
}
ul {
  list-style-type: none;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  margin-top: 25px;
  margin-right: 400px;
  color: black;
}
#btn {
  color: white;
  background-color: rgb(22, 147, 185);
  display: flex;
  margin-left: 800px;
  cursor: pointer;
  margin-bottom: 130px;
}
.nav-links {
  color: white;
  list-style-type: none;
  margin-inline-start: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#one {
  color: white;
  list-style-type: none;
  text-decoration: none;
  margin-left: 30px;
}
#two {
  color: white;
  text-decoration: none;
  justify-content: space-between;
  margin-left: 30px;
}
#three {
  color: white;
  text-decoration: none;
  margin-left: 40px;
}

button {
  all: unset;
  cursor: pointer;
}
h1 {
  font-size: 20px;
}
h2 {
  font-size: 15px;
}
#Todd {
  width: 60px;
  height: auto;
}
h2 {
  font-size: 20px;
}
#Phill {
  width: 60px;
  height: auto;
  margin: 200px;
  /* margin-: 150px; */
  justify-content: center;
}
#accept1 {
  width: 40px;
  height: auto;
  size: 20px;
  /* align-items: flex-start; */
}
#refuse1 {
  width: 30px;
  height: auto;
  size: 20px;
  margin: auto;
  position: static;
}
.card3 {
  margin-bottom: 1000px;
}
